# git
.gitignore
.git

# Emacs and other temporary files
*~
.#*
\#*#
TAGS
tags
*.swp
*.orig
.DS_Store
# Eclipse files
.metadata
.classpath
.project
.externalToolBuilders
.settings
dot_files


missingAPI.astub

sparta.jar
sparta-out/
bin/jarlist.cache
bin/
build/
tests/build/

docs/manual.aux
docs/manual.blg
docs/manual.bbl
docs/manual.haux
docs/manual.html
docs/manual.htoc
docs/manual.log
docs/manual.out
docs/manual.dvi
docs/manual.pdf
docs/manual.ps
docs/manual.toc
docs/manual.image.tex
docs/*.png
docs/figures/*.eps
docs/figures/*.pdf
docs/figures/*.png
docs/bib


src/sparta/checkers/flow.astub 
src/sparta/checkers/information_flow.astub
src/sparta/checkers/intents/information_flow.astub
src/sparta/checkers/flowstubfiles/ex

download-libs/*
