SPARTA README:

Along with this README, the SPARTA team has submitted a compressed directory named SPARTA_VM. This directory contains a VirtualBox installation of Ubuntu with a build of SPARTA and examples using SPARTA.  It also includes all code and dependencies needed to build SPARTA.  Important directories and files and their basic use are outlined here but please consult ~/sparta-code/docs/manual.pdf for in depth instructions.

VM Login Info 
User: sparta
Password: ThisIsSparta!   
Machine Name:sparta-VirtualBox

~/Documents/.bashrc : contains environment variables necessary to build and run SPARTA 

~/sparta-code  and ~/jsr308: contains ALL the files/dependencies (besides the .bashrc) necessary to build and run SPARTA including examples and documentation.

~/sparta-code/docs/manual.pdf  :  manual.pdf contains the directions needed to build and run sparta.  SPARTA has already been built on this VM but you can still follow these instructions to build it from scratch.  Note, this file contains links to the Checker Framework which is a dependency of SPARTA.  manual.pdf normally needs to be built as per the instructions in ~/Documents/sparta/sparta-code/README but has been built already for your convenience.



