

#Adding random
ANY -> WRITE_LOGS  #Comments

READ_TIME -> WRITE_LOGS
READ_TIME -> FILESYSTEM
READ_TIME -> WRITE_EMAIL


    #<-
MANAGE_ACCOUNTS -> DISPLAY, WRITE_EMAIL

             #There are
RECORD_AUDIO -> INTERNET, FILESYSTEM
RECORD_AUDIO -> WRITE_EMAIL      #No errors #
#####################################



  # #
     #



ACCELEROMETER -> DISPLAY, WRITE_EMAIL, INTERNET, RANDOM
CAMERA -> DISPLAY, WRITE_EMAIL, INTERNET, RANDOM
MANAGE_ACCOUNTS -> DISPLAY, WRITE_EMAIL, INTERNET, RANDOM
ACCESS_FINE_LOCATION -> DISPLAY, WRITE_EMAIL, INTERNET, RANDOM
