

#Adding random
ANY -> LOG  #Comments

TIME -> LOG
TIME -> FILESYSTEM
TIME -> EMAIL


    #<-
ACCOUNTS -> DISPLAY, EMAIL

             #There are
MICROPHONE -> NETWORK, FILESYSTEM
MICROPHONE -> EMAIL      #No errors #
#####################################



  # #
     #



ACCELEROMETER -> DISPLAY, EMAIL, NETWORK, RANDOM
CAMERA -> DISPLAY, EMAIL, NETWORK, RANDOM
ACCOUNTS -> DISPLAY, EMAIL, NETWORK, RANDOM
LOCATION -> DISPLAY, EMAIL, NETWORK, RANDOM
