

#Adding random
ANY -> WRITE_LOGS  #Comments

READ_TIME -> WRITE_LOGS
READ_TIME -> FILESYSTEM
READ_TIME -> EMAIL


    #<-
MANAGE_ACCOUNTS -> DISPLAY, EMAIL

             #There are
RECORD_AUDIO -> INTERNET, FILESYSTEM
RECORD_AUDIO -> EMAIL      #No errors #
#####################################



  # #
     #



ACCELEROMETER -> DISPLAY, EMAIL, INTERNET, RANDOM
CAMERA -> DISPLAY, EMAIL, INTERNET, RANDOM
MANAGE_ACCOUNTS -> DISPLAY, EMAIL, INTERNET, RANDOM
ACCESS_FINE_LOCATION -> DISPLAY, EMAIL, INTERNET, RANDOM
