#viewport {
	text-align: center;
}

.foreground path {
	fill: none;
	stroke-width: 0.25em;
}

.axis line, .axis path {
	fill: none;
	stroke: rgb(80, 255, 242);
	stroke-width: 0.2em;
}

.axis text {
	font-weight: bold;
	font-size: 1.5em;
	fill: rgb(80, 255, 242);
}

path.highlighted {
	stroke: yellow !important;
}
